body,canvas{
    padding: 0;
    position: relative;
    margin: 0;
    background: rgb(0, 37, 250);
}
.container{
    position: relative;

}
#gameOver{
    padding: 10%;
    margin: 10%;
    background-color: rgba(0,0,0,1);
    color: white;
    font-size: large;
}

h2{
    padding: 0;
    margin: 0;
    position: absolute;
    border: solid;
}
img{
    min-width: 45px;
    max-width: 45px;
    padding: 0;
    margin: 0;
    border: solid;
    display: block;
}
.weapon_info{
    width: 200px;
    padding: 0;
    margin: 0;
    float: right;
    border: solid;
}
#main {
    width: 800px;
    margin: 0 auto;
}
#inv {
    width: 600px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(1, 50px);
    border: solid;
    float: left;
}
#page-wrap  {
    width: 200px;
    border: solid;
    height: 100px;
    margin-left: 600px;
}
#ui_login{
    margin:10%;
    padding: 5%;
    background: rgba(0,0,0,1);
    color:white;
}
#ui_registration{
    margin: 10%;
    padding: 5%;
    background: rgba(0,0,0,1);
    color: white;
}
#highscores, #gameOverHighscores{
    color:white;
    background: rgba(0,0,100,1);
    border: green solid;
    border-radius: 10px;
    border-radius: 10px;
}
li{
    color:white;
    list-style: none;
}
button{
    border-radius: 10px;
    border: green solid 2px;
    color: white;
    background: rgba(0,0,100,1);;
}
#Error{
    max-width: 50%;
}
canvas{
  border: 10px;
}
